// ===========================================
// Theme One
// ===========================================

// Backgrounds
$backgroundOne: hsl(222, 26%, 31%);
$toggleAndKeypad: hsl(223, 31%, 20%);
$screenBackground: hsl(224, 36%, 15%);

// Keys
$mainKeysOne: hsl(30, 25%, 89%);
$mainKeysShadowOne: hsl(28, 16%, 65%);
$delAndResetOne: hsl(225, 21%, 49%);
$delAndResetShadowOne: hsl(224, 28%, 35%);
$equalAndToggleOne: hsl(6, 63%, 50%);
$equalAndToggleShadowOne: hsl(6, 70%, 34%);

// Text
$greyishBlue: hsl(221, 14%, 31%);
$white: hsl(0, 0, 100%);
